body {
    background : lightblue;
    background-image : url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png');
    background-repeat : no-repeat;
    background-size : cover;
    background-attachment: fixed;
}
.add {
    cursor: pointer;
}